[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
pyvis = "*"
igraph = "*"
cairocffi = "*"
networkx = "*"
scipy = "*"
pydot = "*"
ipython = "*"
panda = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
